<!doctype html>

<html>

<head>
    <title>Ex1</title>
</head>
<body>
    <h1>Welcome to my zip server</h1>
    <p><a href="/signIn">sign in</a> or <a href="/login">login</a> to continue!</p>
</body>
</html>