<!doctype html>
<html>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="public/script.js"></script>-->
<!--<script src="public/script.js"></script>-->
<head>
    <title>My ZIP Server</title>
</head>
    <h1 id="title">Log Into Your Account</h1>

    <form method="post" id="form">
        <input type="hidden" name="_csrf"/>
        <span>Email:</span><input type="email" name="email" required="required"/><br/>
        <span>Password:</span><input type="password" name="password" required="required"/><br/>
        <input type="submit" value="submit"/>
    </form>


</html>
