<!doctype html>

<html>
<head>
    <title>My ZIP Server</title>
    <h1>Create an Account</h1>
</head>
<body>
    <form method="post">
        <input type="hidden" name="_csrf"/>
        <span>First Name:</span>
        <input type="text" name="firstName" required="required"/><br/>
        <span>Last Name:</span>
        <input type="text" name="lastName" required="required"/><br/>
        <span>Email:</span>
        <input type="email" name="email" required="required"/><br/>
        <span>Password:</span>
        <input type="password" name="password" required="required"/><br/>
        <input type="submit" value="submit"/>
    </form>
</body>